/* ZeroBin 0.15 - http://sebsauvage.net/wiki/doku.php?id=php:zerobin */

/*   Hé, t'as vu Idleman, j'ai fait un effort sur les CSS !   ;-)      */

.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
}

/* --- discussion related CSS ------- */

#file {
	cursor:pointer;
}

div.comment
{
	white-space:pre-wrap;
	overflow:auto;
}

textarea#replymessage {
	margin-top:5px;
}

div.commentmeta {
	margin-bottom: 10px;
}

div.commentdata {
	margin-bottom: 20px;
}

#comments blockquote {
	margin-top: 10px;
}

img.vizhash {
	width:20px;
	height:20px;
	margin-right: 5px;
	margin-top: -3px;
}
